.cuddle{
    width: 1000px;
    height: quto;
}
.quizContent{
   padding-left:200px;
   padding-left:50;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.upperContent{
    padding:100px;
}
h1{
    text-align: center;
    padding-bottom: 0;
}
p {
    font-family: 'Tangerine', serif;
  }
i:hover{
    color: palegreen;
  }